body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333;
    color: #ddd;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


img{
    width: 300px;
    height: 300px; 

}

.descricao {
    width: 300px;
}

h2 {
    margin-bottom: auto;
}

.duracao{
    width: 300px;
    margin-top: 10px;
}

.barradeduracao {
    width: 300px;
    height: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    position: relative;
    justify-content: flex-start;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    border-radius: 5px;
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;
}

.tempodeduracao {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.botao-play, .botao-pause { 
    font-size: 50px;
    cursor: pointer;
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

.botao-pause {
    display: none;
}

.controles { 
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}